@import url("https://fonts.googleapis.com/css2?family=Chivo&family=Roboto+Condensed:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
}

body {
  height: 100vh;
}

.title {
  margin-bottom: 1rem;
}

.actions {
  text-decoration: none;
  background-color: #F36B2B;
  color: #F4F4F4;
  padding: .5rem 1rem;
  font-size: 1.2rem;
  margin: .5rem 0;
  border-radius: .3rem;
  -webkit-transition: 450ms ease-in-out;
  transition: 450ms ease-in-out;
}

.actions:hover {
  color: #E33D3D;
  background-color: #F4F4F4;
}

.quiz-option {
  background-color: #1f1b1b;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto Condensed";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quiz-game {
  background-color: #1f1b1b;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto Condensed";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quiz-game .hidden {
  display: none;
}

.quiz-game .container #hud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.quiz-game .container #hud .hud-prefix {
  text-align: center;
}

.quiz-game .container #hud .hud-main-text {
  text-align: center;
}

.quiz-game .container #hud #progressBar {
  width: 10rem;
  height: 1rem;
  border: solid 0.2rem #F36B2B;
  border-radius: 10rem;
  margin-top: .5rem;
}

.quiz-game .container #hud #progressBarFull {
  height: 100%;
  background-color: #F36B2B;
  width: 0%;
}

.quiz-game .container #question {
  margin: 2rem 0;
}

.quiz-game .container .choice-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
  color: #F36B2B;
  background-color: #FFFFFF;
  cursor: pointer;
}

.quiz-game .container .choice-container .choice-prefix {
  color: #FFFFFF;
  background-color: #F36B2B;
  padding: 1rem;
}

.quiz-game .container .choice-container .choice-text {
  margin: 0 1rem;
  width: 100%;
}

.quiz-game .container .choice-container.incorrect {
  background-color: rgba(231, 22, 39, 0.933);
  color: #fff;
}

.quiz-game .container .choice-container.correct {
  background-color: #0fe040;
  color: #fff;
}

.quiz-game .container .choice-container:hover {
  -webkit-box-shadow: 0 0.4rem 1.4rem 0 rgba(224, 100, 18, 0.363);
          box-shadow: 0 0.4rem 1.4rem 0 rgba(224, 100, 18, 0.363);
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
}

.quiz-game .container .choice-container:hover .choice-text {
  margin: 0 1rem;
}

.quiz-game #loader {
  border: 1.6rem solid white;
  border-radius: 50%;
  border-top: 1.6rem solid #F36B2B;
  width: 12rem;
  height: 12rem;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.btn-rev {
  background-color: #FFFFFF;
  text-decoration: none;
  width: 100%;
  color: #F36B2B;
  padding: 1rem;
  margin: 1rem 0;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  border-radius: .2rem;
}

.btn-rev:hover {
  background-color: #F36B2B;
  color: #FFFFFF;
}

.btn {
  background-color: #F36B2B;
  text-decoration: none;
  width: 100%;
  color: #FFFFFF;
  padding: 1rem;
  margin: 1rem 0;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  border-radius: .2rem;
}

.btn:hover {
  background-color: #FFFFFF;
  color: #F36B2B;
}

.btn:disabled {
  background: #f79e73;
  cursor: not-allowed;
}

.gameover {
  height: 100vh;
  background-color: #1f1b1b;
}

.gameover {
  background-color: #1f1b1b;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto Condensed";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gameover .container #end {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gameover .container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gameover .container form input {
  padding: 1.2rem;
  margin: 1rem 0;
  color: #6A6A6A;
  border-radius: .2rem;
}

.gameover .container form input:focus {
  border: none;
  outline: none;
}

.gameover .container form input::-webkit-input-placeholder {
  color: #6A6A6A;
}

.gameover .container form input:-ms-input-placeholder {
  color: #6A6A6A;
}

.gameover .container form input::-ms-input-placeholder {
  color: #6A6A6A;
}

.gameover .container form input::placeholder {
  color: #6A6A6A;
}

.highscores {
  position: relative;
  font-family: "Roboto Condensed";
  color: #FFFFFF;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1f1b1b;
}

.highscores #highScores {
  position: relative;
  top: 10rem;
}

.highscores #highScores #highScoreList {
  margin: 3rem 0;
  list-style-type: none;
}

.highscores #highScores #highScoreList .high-score {
  padding: 1rem .5rem;
  margin: 1rem 0;
  border-radius: .1rem;
  background-color: #F36B2B;
  color: #1f1b1b;
}

.highscores #highScores #highScoreList .high-score span {
  color: #FFFFFF;
}

@media (max-width: 488px) {
  .quiz-game .container {
    width: 80%;
    text-align: center;
  }
  .quiz-game #loader {
    position: absolute;
    border: 1rem solid white;
    border-radius: 50%;
    border-top: 1rem solid #F36B2B;
    width: 6rem;
    height: 6rem;
    top: 30%;
    left: 30%;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=quiz.css.map */