@import './variables';

body {
  height: 100vh;
  // background-color: $c4;
  // color: $c5;
  // display: flex;
  // justify-content: center;
  // font-family: $f2;
  // align-items: center;
  // flex-direction: column;
}

// $f1: Chivo;
// $f2: "Roboto Condensed";
// $c1: #F36B2B;
// $c2: #F4F4F4;
// $c3: #6A6A6A;
// $c4: rgb(31, 27, 27);
// $c5: #FFFFFF; 
// $c6: #E33D3D;

.title {
  margin-bottom: 1rem;
}

.options {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.actions {
  text-decoration: none;
  background-color: $c1;
  color: $c2;
  padding: .5rem 1rem;
  font-size: 1.2rem;
  margin: .5rem 0;
  border-radius: .3rem;

  transition: 450ms ease-in-out;
  &:hover {
    color: $c6;
    background-color: $c2;
    
  }
}

// all styles here will apply only to the quiz game page
.quiz-option {
  background-color: $c4;
  color: $c5;
  display: flex;
  justify-content: center;
  font-family: $f2;
  align-items: center;
  flex-direction: column;

  span {
    color: darken($c5, 10%);
    font-weight: 600;
  }
}


.quiz-game {
  background-color: $c4;
  // width: 80%;
  color: $c5;
  display: flex;
  justify-content: center;
  font-family: $f2;
  align-items: center;
  flex-direction: column;

  .hidden {
    display: none;
  }

  .container {
    // background-color: #fff;

    #hud {
      display: flex;
      justify-content: space-between;

      .hud-prefix {
        text-align: center;
      }
      .hud-main-text {
        text-align: center;
      }

      #progressBar {
        width: 10rem;
        height: 1rem;
        border: solid .2rem $c1;
        border-radius: 10rem;
        margin-top:  .5rem;
      }

      #progressBarFull {
        height: 100%;
        background-color: $c1;
        width: 0%;
      }
    }

  
    #question {
      margin: 2rem 0;
    }

    .choice-container {
      display: flex;
      align-items: center;
      margin: 1rem 0;
      color: $c1;
      background-color: $c5;
      cursor: pointer;
      

      .choice-prefix {
        color: $c5;
        background-color: $c1;
        padding: 1rem;
      }

      .choice-text {
        // color: $c1;
        margin: 0 1rem;
        width: 100%;
      }

      &.incorrect {
        background-color: rgba(231, 22, 39, 0.933);
        color: #fff;
        
      }
      &.correct {
        background-color: #0fe040; 
        color: #fff;
      }      

      &:hover {
        // background-color: transparent;
        // color: $c2;
        box-shadow: 0 0.4rem 1.4rem 0 rgba(224, 100, 18, 0.363);
        transform: translateY(-.1rem);
        transition: transform 150ms;

        .choice-text {
          // color: $c5;
          margin: 0 1rem;
        }
        
      }
    }

  }



  #loader {
    border: 1.6rem solid white;
    border-radius: 50%;
    border-top: 1.6rem solid $c1;
    width: 12rem;
    height: 12rem;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.btn-rev {
  background-color: $c5;
  text-decoration: none;
  width: 100%;
  color: $c1;
  padding: 1rem;
  margin: 1rem 0;
  text-align: center;
  cursor: pointer;
  transition: 300ms ease-in-out;
  border-radius: .2rem;

  &:hover {
    background-color: $c1;
    color: $c5;
  }
}



.btn {
  background-color: $c1;
  text-decoration: none;
  width: 100%;
  color: $c5;
  padding: 1rem;
  margin: 1rem 0;
  text-align: center;
  cursor: pointer;
  transition: 300ms ease-in-out;
  border-radius: .2rem;

  &:hover {
    background-color: $c5;
    color: $c1;
  }

  &:disabled {
    background: lighten($c1, 15%);
    cursor: not-allowed;
  }
}

.gameover {
  height: 100vh;
  background-color: $c4;
}

.gameover {
  background-color: $c4;
  color: $c5;
  display: flex;
  justify-content: center;
  font-family: $f2;
  align-items: center;
  flex-direction: column;

  .container {
    // height: 100vh;
    // background-color: $c1;

    #end {
      text-align: center;
      display: flex;
      flex-direction: column;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;

      input {
        padding: 1.2rem;
        margin: 1rem 0;
        color: $c3;
        border-radius: .2rem;
        &:focus {
          border: none;
          outline: none;
        }
        &::placeholder {
          color: $c3;
        }
      }


    }
  }
}

.highscores {
  position: relative;
  font-family: $f2;
  color: $c5;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $c4;

  #highScores {
    position: relative;
    top: 10rem;

    #highScoreList {
      margin: 3rem 0;
      list-style-type: none;
      .high-score {
        padding: 1rem .5rem;
        margin: 1rem 0;
        border-radius: .1rem;
        background-color: $c1;
        color: $c4;

        span {
          color: $c5;
        }

      }
    }
  }

}


 
@media (max-width: 488px) {
  .quiz-game {
    .container {
      width: 80%;
      text-align: center;
    }
    #loader {
      position: relative;
      border: 1rem solid white;
      border-radius: 50%;
      border-top: 1rem solid $c1;
      width: 6rem;
      height: 6rem;
      // top: 30%;
      left: 0;
      margin: 0 auto;
      // width: 100%;
    }
  }

  
}